body, html {

  font-family: "Georgia";
  margin: 0px;
  width: 100%;

}

section {

  display: flex;
  position: relative;
  width: 100%
}

p {
  font-family: "Myriad Pro";
}

br {
  margin: 50px;
}

.wrapper {
  width: 100%;
}

.header {

  background-image: url("../img/header_bg.jpg");
  background-size: cover;
  width: 100%;
  height: 920px;
  display: inline-block;

}

 .logo {

  margin: 8% 0 0 15.5%;
  display: block

}

.header .rect {

  border-width: 1px;
  border-color: rgb(195, 155, 79);
  border-style: solid;
  opacity: 0.369;
  position: absolute;
  margin: 7% 0 0 3.1%;
}

.header h3 {

  font-size: 24px;
  color: rgba(36, 33, 28, 0.769);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  font-family: "Georgia";
  margin: 10% 0 0 6%;

}

.header h1 {

  font-size: 100px;
  color: rgba(36, 33, 28, 0.851);
  line-height: 0.85;
  font-weight: 400;
  letter-spacing: 20px;
  margin: 0 0 0 6%;
}

.header .toptext {

  margin: 0.8% 0 0 6%;
}

.header p {
  font-size: 16px;
  color: rgb(110, 109, 107);
  line-height: 1.375;
  width: 300px;
  margin: 1.5% 0 0 6%;
}


.goal_task {

  width: 100%;
  display: flex;

}

.goal_task_part {

  height: 450px;
  display: inline-block;
  background-size: cover;
  position: relative;
}

#goal {

  width: 50%;
  background-image: url("../img/goal_bg.jpg");
  background-size: cover;
}

#task {

  width: 50%;
  background-image: url("../img/tasks_bg.jpg"); 
  background-size: cover;
}

.goal_task .rect {

  position: absolute;
  left: 67px;
  top: 130px;
}

#task .rect {

  left: 75px;
}
.goal_task h2, .goal_task h3 {

  font-weight: 400;
  letter-spacing: 1.2px;
  font-size: 72px;
  color: rgb(19, 18, 16);
  display: inline-block;
  margin-bottom: 0;
}

.goal_task h3 {

  font-size: 40px;
}

.goal_task .text {

  margin: 10% 0 0 14%;
}

.goal_task p {

  font-size: 16px;
  color: rgb(19, 18, 16);
  line-height: 1.375;
  width: 460px;
  font-weight: 400;
}

.goal_task #task p, .goal_task #task h2, .goal_task #task h3 {

  color: white;
}

.goal_task #task p {

  width: 500px;
}

.analysis {

  background-image: url("../img/analytics_bg.jpg"); 
  background-size: cover;
  width: 100%;
  height: 1167px;
}


.chairs {

  width: 100%;
  display: block;
}

.process {

  font-family: "Georgia";
  font-size: 24px;
  font-style: italic;
}

.analysis .process {

  color: rgb(109, 94, 68);
  margin: 280px 0 0 48%;
}

.analysis h1  {

  font-size: 120px;
  font-weight: 400;
  color: rgb(240, 240, 240);
  line-height: 1.2;
  margin: -2% 0 0 21%;
}

.analysis_wrap {

  display:flex;
}

.analysis .block {

  width: 25%;
  display: inline-block;
  position: relative;
  margin-top: 10%;
}

.analysis #data {

  margin-left: 4%;
  width: 20%;
}

.analysis #analytics {

  margin-left: 10%;
  width: 25%;
}

.analysis #idea {

  margin-left: 10%;
  width: 25%;
}

.analysis .block #lens {

  margin: 0 0 -17% 30%;
}

.analysis .block  #file {

  margin: 0 0 -7% 40%;
}

.analysis .block  #bulb {

  margin: 0 0 -20% 40%;
}

.analysis .block p {

  font-size: 16px;
  font-family: "Ubuntu";
  color: rgb(183, 167, 139);
  line-height: 1.625;
  margin: 16px 0 0 60px;
}

.analysis .block h2 {

  font-size: 30px;
  font-family: "Ubuntu";
  color: rgb(220, 220, 220);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
  position: relative;
  left: 60px;
  margin-top: 0px;
}


.analysis .block .rect {

  position: absolute;
  left: 15px;
  top: 205px;
}

.ux {

  width: 100%;
  background-image: url("../img/chairs.jpg"); 
  background-size: cover;
  height: 1551px;
}

.twozero {

  font-family: "Lato";
  font-size: 400px;
  font-weight: 100;
  color: rgba(96, 69, 53, 0.141);
  position: absolute;
  margin: 0;
  left: 630px;
  top: 230px;
}

.trophy {

  position: absolute;
  left: 10px;
  top: -120px;
}

.chairs .process {

  color: rgba(89, 80, 65, 0.969);
  margin: 450px 0 0 43%;
}

.chairs .title {
  position: relative;
  z-index: 1;
  margin: -45px 0 0 9%;
  width: auto;
}

.chairs .title h1, .chairs .title h2  {

  font-weight: 400;
  display: inline;
  font-size: 100px;
  color: rgb(255, 255, 255);
  font-family: "Georgia";
  margin: 0;
}

.chairs .title h1 {

  font-size: 120px;
  color: #fdf7d6;
}

.chairs .title h2  {

  color: #2c2a25;
}

#twoone {

  margin: 20% 0 0 10%;
}

.sideblock p {

  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(110, 101, 83);
  line-height: 1.625;
}

.sideblock .heading p, .sideblock .heading h2 {

  display: inline;
}

.sideblock .heading h2 {

  font-weight: 900;
  font-size: 28px;
  font-family: "Myriad Pro";
  color: rgb(82, 76, 51);
  text-transform: uppercase;
}

.sideblock .heading .num {

  font-size: 16px;
  font-family: "Ubuntu";
  color: rgb(111, 101, 84);
  text-transform: uppercase;
  line-height: 1.2;
  position: relative;
  bottom: 5px;
}

#wires {

  margin: 15% 0 0 10%;
}

.sideblock .rect {

  margin: 0 0 0 -40px;
  position: absolute;
}

.colors {

  margin: 16% 0 0 0;
}

.colors h2 {

  font-size: 30px;
  font-weight: 400;
  font-family: "Ubuntu";
  color: rgb(48, 48, 48);
  line-height: 1.2;
  text-align: center;
}

.colors p {

  font-size: 18px;
  font-family: "Ubuntu";
  color: rgb(48, 48, 48);
  margin-bottom: 5px;
}

.color_wrap {

  margin: 0 auto;
  width: 70%;
}

.color {

  display: inline-block;
  margin-right: 80px;
}

.brick {

  width: 45px;
  height: 12px;
}

.color.forms {
margin-right: 0px;
}

.color.head .brick {
  background: #c0c0c0;
}

.color.button .brick {
  background: #b8e540;
}

.color.links .brick {
  background: #f87047;
}

.color.images .brick {
  background: #e5e3b5;
}

.color.h1 .brick {
  background: #91e5b1;
}

.color.h2 .brick {
  background: #8ec7e5;
}

.color.galleries .brick {
  background: #ddd3f7;
}

.color.filters .brick {
  background: #dca2e5;
}

.color.forms .brick {
  background: #f7d475;
}

.platforms {

  text-align: center;
}

.platform {

  text-align: center;
}

#desktop {

  margin: 70px 0 150px 0;
}

#tablet {

  margin: 0 0 120px 0;  
}

#mobile {

  margin: 0 0 270px 0;
}

.platform h2 {

  font-size: 24px;
  font-family: "Ubuntu";
  color: rgb(118, 118, 118);
  margin-bottom: 30px;
}

.ui {

  width: 100%;
  background-image: url("../img/cloud_bottom.jpg"); 
  background-size: cover;
  height: 2100px;
}



