body, html {

  font-family: "Georgia";
  margin: 0px;
  width: 100%;
  height: 100%;

}

section {

  display: flex;
  position: relative;
}

p {
  font-family: "Myriad Pro";
}

br {
  margin: 50px;
}

.wrapper {
  width: 100%;
}

.header {

  background-image: url("../img/header_bg.jpg");
  background-size: cover;
  width: 100%;
  height: 920px;
  display: inline-block;

}

 .logo {

  margin: 8% 0 0 15.5%;
  display: block

}

.header .rect {

  border-width: 1px;
  border-color: rgb(195, 155, 79);
  border-style: solid;
  opacity: 0.369;
  position: absolute;
  margin: 7% 0 0 3.1%;
}

.header h3 {

  font-size: 24px;
  color: rgba(36, 33, 28, 0.769);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  font-family: "Georgia";
  margin: 10% 0 0 6%;

}

.header h1 {

  font-size: 100px;
  color: rgba(36, 33, 28, 0.851);
  line-height: 0.85;
  font-weight: 400;
  letter-spacing: 20px;
  margin: 0 0 0 6%;
}

.header .toptext {

  margin: 0.8% 0 0 6%;
}

.header p {
  font-size: 16px;
  color: rgb(110, 109, 107);
  line-height: 1.375;
  width: 300px;
  margin: 1.5% 0 0 6%;
}


.goal_task {

  width: 100%;
  display: flex;

}

.goal_task_part {

  height: 450px;
  display: inline-block;
  background-size: cover;
  position: relative;
}

#goal {

  width: 50%;
  background-image: url("../img/goal_bg.jpg");
  background-size: cover;
}

#task {

  width: 50%;
  background-image: url("../img/tasks_bg.jpg"); 
  background-size: cover;
}

.goal_task .rect {

  position: absolute;
  left: 67px;
  top: 130px;
}

#task .rect {

  left: 75px;
}
.goal_task h2, .goal_task h3 {

  font-weight: 400;
  letter-spacing: 1.2px;
  font-size: 72px;
  color: rgb(19, 18, 16);
  display: inline-block;
  margin-bottom: 0;
}

.goal_task h3 {

  font-size: 40px;
}

.goal_task .text {

  margin: 10% 0 0 14%;
}

.goal_task p {

  font-size: 16px;
  color: rgb(19, 18, 16);
  line-height: 1.375;
  width: 460px;
  font-weight: 400;
}

.goal_task #task p, .goal_task #task h2, .goal_task #task h3 {

  color: white;
}

.goal_task #task p {

  width: 500px;
}

.analysis {

  background-image: url("../img/analytics_bg.jpg"); 
  background-size: cover;
  width: 100%;
  height: 1057px;
}

.chairs {

  background-image: url("../img/chairs.jpg"); 
  background-size: cover;
  width: 100%;
  height: 1992px;
}

.process {

  font-family: "Georgia";
  font-size: 24px;
  font-style: italic;
}

.analysis .process {

  color: rgb(109, 94, 68);
  margin: 280px 0 0 48%;
}

.analysis h1  {

  font-size: 120px;
  font-weight: 400;
  color: rgb(240, 240, 240);
  line-height: 1.2;
  margin: -2% 0 0 21%;
}

.twozero {

  font-family: "Lato";
  font-size: 400px;
  font-weight: 100;
  color: rgba(96, 69, 53, 0.141);
  position: absolute;
  margin: 0;
  left: 630px;
  top: 230px;

}


.trophy {

  position: absolute;
  left: 10px;
  top: -120px;

}

.chairs .process {

  color: rgba(89, 80, 65, 0.969);
  margin: 410px 0 0 51%;
}

.chairs .title {
  position: relative;
  z-index: 1;
  margin: 0 0 0 9%;

}

.chairs .title h1, .chairs .title h2  {

  font-weight: 400;
  display: inline;
  font-size: 100px;
  color: rgb(255, 255, 255);
  font-family: "Georgia";
  margin: 0;
}

.chairs .title h1 {

  font-size: 120px;
  color: #fdf7d6;
}

.chairs .title h2  {

  color: #2c2a25;

}





