.form_pic img {
    max-width: 90%
}

.color.forms {
    margin-right: auto;
}

.color_wrap {
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 850px){
	.analysis .process {
	    margin: 0;
	    padding: 0 0 20px 45%;
	}

	.color_wrapper {
		padding-right: initial;
		display: flex;
    	flex-direction: column;
    	justify-content: space-around;
	}

}

@media screen and (max-width: 820px){

	.trophy {
		display: none;
	}

	.ux {
		background-image: url("../img/chairs-mobile.jpg");
	    background-size: cover;
	    background-repeat: no-repeat;
	}

	.chairs .title h1 {
	    display: none;
	}

	.expr {
		margin: 10px;
	}

	.chairs {
		height: 600px;
	}

	.chairs .process {
	    
	    margin: 0 0 0 100px;
	}

	#all_title_ch {
    	top: 150px;
	}

	.ui .title h1 {
    	display: none;
	}

	.ui .process {
    	margin: 0 0 0 53%;
	}

	.ui .all_title {
    	margin-top: 70px;
	}

}

@media screen and (max-width: 800px) {

	.img_wrap img {
	    display: none;
	}

	 video {

    max-width: 90%;
  }

  video {

    height: 500px;
  }

}

@media screen and (max-width: 730px) {

	#all_title_ch {
  		left: 40px;
	}
}


@media screen and (max-width: 660px) {

	.font_block h3 {
    	font-size: 20px;
	}

}


@media screen and (max-width: 630px) {

	 video {

	    max-width: 100%;
	  }

	  video {

	    height: 400px;
	  }

	.header h1 {
    	font-size: 80px;
    	padding-bottom: 15px;
	}

	.header h1, .header h3, .header p, .header .toptext {

		margin-left: 50px;
	}

	.header .rect {
    	margin-left: 15px;
	}
}

@media screen and (max-width: 560px) {
	.ui .title {
	    margin-top: 55px;
	}

	.img_wrap {
		margin: 70px 0;
	}
}

@media screen and (max-width: 550px) {

	.analysis {
    	padding-bottom: 500px;
	}

	.logo {
    	margin-left: auto;
    	margin-right: auto;
	}
}

@media screen and (max-width: 540px) {
	.header h1 {
	    font-size: 70px;

	}

	.font_block h3 {
    font-size: 16px;
	}
}

@media screen and (max-width: 520px) {

	.header {
		height: 800px;
	}

	.chairs .title h2 {
		font-size: 70px;
	}

	.header h1 {
		padding-top: 15px;
	    font-size: 50px;

	}

	.sideblock .heading h2 {
		font-size: 22px;
	}
}

@media screen and (max-width: 500px) {

	.goal_task #task p, .goal_task #goal p {
    	max-width: 70%;
	}

	.sideblock p {
    	width: 320px;
	}

	.analysis h1 {
    font-size: 70px;
    padding-top: 10px;
	}

	.font_block p {
    	font-size: 12px;
	}

	.font_block h3 {
    	font-size: 14px;
	}

	#swatches p {
    	width: 300px;
	}
	.analysis-top {
		background-image: url("../img/analytics_bg-mobile.jpg");
	}
}

@media screen and (max-width: 450px) {
	#circle {
		display: none;
	}

	.color_scheme {
		margin-top: 200px;
	}

	.analysis {
    	padding-bottom: 600px;
	}

	.flying_desc {
 	   margin-left: 80px;
	}

	#desktop, #tablet {
		margin-bottom: 30px;
	}

	#tablet {
		margin-bottom: 0;
	}

	#mobile {
    margin: 0 0 100px 0;
	}
}

@media screen and (max-width: 410px) {

	#all_title_ch {
    left: 10px;
	}

	#twoone {
    	margin-top: -100px;
    	margin-left: 25px;
	}

	.sideblock .rect {
		display: none;
	}
}

@media screen and (max-width: 400px) {


	.header h1, .header h3, .header p, .header .toptext {

		margin-left: 20px;
	}

	.header h1 {

		letter-spacing: 10px;
	}

	.header .rect {
    	display: none;
	}

	 video {

	    height: 300px;
	  }
}

@media screen and (max-width: 380px) {

	.font_block h3 {
    	font-size: 11px;
	}

	.chairs .title h2 {
    	font-size: 60px;
	}

	.ui .title h2 {
    	font-size: 60px;
	}


}

@media screen and (max-width: 370px) {

	.analysis {
    	padding-bottom: 700px;
	}

	.sideblock p {
    width: 250px;
	}

	.analysis h1 {
    font-size: 60px;
	}

	.flying_desc {
	    margin-left: 40px;
	}

	.ui .process {
    	margin: -20px 0 0 40%;
	}

}

@media screen and (max-width: 340px) {

	.header h1 {
    letter-spacing: 7px;
	}

	.header p, .header .toptext {
		width: 250px;
	}

	#swatches p {
    	width: 250px;
	}

	.ui .title {
    	margin-left: 30px;
	}

	#all_title_ch {
    	left: 0;
	}

	#lens {
    top: -90px;
    left: 40px;
	}
}





